* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.desktop-wrap {
  left: 200px;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.desktop-wrap #desktop {
  width: 100%;
  height: 100%;
}
.tile {
  background: white;
  padding: 0 32px 30px 32px;
  margin-bottom: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}
.tile-header {
  font-size: 16px;
  color: #333333;
  height: 50px;
  line-height: 50px;
}
.tile-header * {
  line-height: normal;
}
.tile-content {
  border: 2px solid #eef2f5;
  border-radius: 3px;
  padding: 20px 30px;
  font-size: 14px;
  color: #666666;
}
.main-container {
  padding: 0 15px;
}
.tile-content tr {
  height: 35px;
}
.table {
  font-size: 12px;
}
.table thead tr {
  background: #eef2f5;
  color: #7e8389;
  height: 45px;
  font-size: 12px;
}
.table > thead > tr > th {
  border-bottom: none;
  line-height: 28px;
  font-weight: 400;
}
.text-center.table > thead > tr > th {
  text-align: center;
}
.table > tbody > tr > td {
  border-top-color: #eef2f5;
  color: #636363;
}
.pagination > li > a,
.pagination > li > span {
  padding: 3px 10px;
}
.cm-form-group .error-tip {
  right: 0%;
  top: 100%;
}
.step-progress {
  margin-top: 60px;
}
.step-progress li:hover a:before,
.step-progress li.active a:before {
  color: #fff;
  background-color: #337AB7;
}
.step-progress li:hover a:after,
.step-progress li.active a:after {
  background-color: #337AB7;
}
.step-progress li:first-child a:after {
  border-radius: 5px 0 0 5px;
}
.step-progress li:last-child a:after {
  border-radius: 0 5px 5px 0;
}
.step-progress li a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #337AB7;
}
.step-progress li a span.caret {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(180deg);
  top: -4px;
}
.step-progress li a:before {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  box-shadow: 0 0 0 5px #cccccc;
}
.step-progress li a:after {
  content: "";
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  background-color: #CCCCCC;
  float: left;
  width: 100%;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
}
.step-progress > li.active > a,
.step-progress > li.active > a:focus,
.step-progress > li.active > a:hover {
  color: #337AB7;
  background-color: rgba(0, 0, 0, 0);
}
.step {
  counter-reset: flag;
}
.step > li {
  float: none !important;
  position: relative;
}
.step > li > a {
  color: #CCCCCC;
}
.step > li a:before {
  content: counter(flag);
  counter-increment: flag;
}
.underline {
  padding: 0 10px;
  border-bottom: 1px solid #518DC1;
}
.cm-datetime .date-text {
  min-width: 115px;
}
.flex {
  display: flex !important;
  flex-direction: row;
}
.flex .auto {
  flex: auto;
}
.flex.vertical-center {
  height: 100%;
  align-items: center;
}
.details-label {
  display: inline-block;
  width: 100px;
}
.letter-space-1 {
  letter-spacing: 9.2px;
}
.letter-space-2 {
  letter-spacing: 3.5px;
}
.letter-space-3 {
  letter-spacing: 20.8px;
}
.editBtn {
  font-size: 12px;
}
